.strike {
    text-decoration: line-through;
}

th > p {
    margin-bottom: 0;
}

.wy-table thead th, .rst-content table.docutils thead th, .rst-content table.field-list thead th {
    border-bottom-width: 1px;
}

code, .rst-content tt, .rst-content code {
    padding-right: 0;
    padding-left: 0;
    border: none;
    font-size: 87%;
    color: #5d9f00 !important;
}
